@font-face {
  font-family: "OTWelcomeBA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeBA.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.7em;
  font-family: "OTWelcomeBA";
  image-rendering: -webkit-optimize-contrast;

  backface-visibility: hidden;
}

.slick-slide {
  display: inline-block;
}

.slick-track {
  width: 1000px;
}

a {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: none;
}

.slick-slide {
  visibility: hidden;
}
.slick-slide.slick-active {
  visibility: visible;
}

.header-layout {
  height: 126px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.header-wrapper {
  margin-top: 10px;

  width: 1460px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-upperlayout {
  width: 1160px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-lowerlayout {
  width: 1160px;
  height: 56px;
  display: flex;
  align-items: center;
}
.navbar {
  width: 880px;
  justify-content: start;
  align-items: center;
}

.form-inline {
  display: flex;
}

.btn {
  margin-left: 12px;
}

.categorysection {
  display: flex;
}
.categorybutton {
  text-align: center;
  line-height: 50.5px;
  color: black;

  font-size: 18px;

  margin-right: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.main-wrapper {
  padding-top: 56px;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  justify-content: center;
  height: 1000px;
  box-shadow: 0px 15px 10px -23px #111;
}

.main-top {
  width: 846px;
}

.main-side {
  width: 314px;
  height: 950px;
}

.imagesection {
  width: 766px;
  height: 280px;
  display: flex;
}

.imagesection-image {
  width: 460px;
  filter: brightness(85%);
}
.imagesection-contents {
  width: 300px;
  height: 280px;
  box-shadow: 0px 15px 10px -23px #111;
}

.imagesection-contentsbox {
  height: 230px;
}

.imagesection-contentsbox-a1 {
  padding-top: 20px;
  font-size: 50px;
  height: 100px;
  text-align: center;
  line-height: 100px;
}
.imagesection-contentsbox-a2 {
  padding-top: 20px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}

.row {
  display: flex;
}

body {
  padding-top: 126px;
}

.btn {
  border: none;
}

.project {
  margin-top: 40px;
  width: 766px;
  height: 650px;
  border: 1px solid gray;
}

.contents {
  height: 400px;
  width: 1160px;
  box-shadow: 0px 15px 10px -23px #111;

  padding-bottom: 30px;
  display: flex;
}

.contents-box-top {
  height: 100%;
  width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.contents-box {
  height: 100%;
  width: 300px;

  padding-top: 30px;
}

#contents-last {
  border: none;
}

.footer {
  height: 200px;
  border: 1px solid gray;
}

.side-head {
  width: 100%;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.side-name {
  font-size: large;
}

.side-date {
}

.side-contents {
  width: 100%;
  height: 110px;

  padding-top: 20px;
  display: flex;
}

#side-image {
  width: 110px;
  height: 100%;
}

#side-number {
  padding-left: 10px;
  width: 35px;
  height: 100%;

  font-size: 18px;
  color: orange;
}

.side-box {
  width: 169px;
  height: 100%;
}

#side-category {
  font-size: 12px;
  color: gray;
}

#side-name {
  font-size: 30px;
}

#side-rate {
  color: orange;
}

body {
  background-color: #fff;
}
