@font-face {
  font-family: "OTWelcomeBA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeBA.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.7em;
  color: red;

  font-family: "OTWelcomeBA";
}

.header-layout {
  height: 126px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.header-wrapper {
  margin-top: 10px;

  width: 1460px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-upperlayout {
  width: 1160px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-lowerlayout {
  width: 1160px;
  height: 56px;
  display: flex;
  align-items: center;
}
.navbar {
  width: 880px;
  justify-content: start;
  align-items: center;
}

.form-inline {
  display: flex;
}

.btn {
  margin-left: 12px;
}

.categorysection {
  display: flex;
}
.categorybutton {
  text-align: center;
  line-height: 50.5px;
  color: black;

  font-size: 18px;

  margin-right: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.main-wrapper {
  padding-top: 56px;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  justify-content: center;
  height: 1000px;
  border-style: solid;
  border-width: 3px;
  border-image: linear-gradient(to left, #fbc2eb 0%, #a6c1ee 100%) 100% 0 100% 0/0px
    0 3px 0 stretch;
}

.main-top {
  width: 846px;
}

.main-side {
  width: 314px;
  height: 950px;

  background-color: pink;
}

.imagesection {
  width: 766px;
  height: 280px;
  display: flex;
}

.carousel-inner {
  width: 460px;
}
.imagesection-content {
  width: 306px;
  height: 280px;
  background-color: pink;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.carousel-item {
  filter: brightness(80%);
}

body {
  padding-top: 126px;
}

.btn {
  border: none;
}

.project {
  margin-top: 20px;
  width: 766px;
  height: 650px;
  background-color: pink;
}

.contents {
  height: 400px;
  width: 1160px;
  border-style: solid;
  border-width: 3px;
  border-image: linear-gradient(to left, #fbc2eb 0%, #a6c1ee 100%) 100% 0 100% 0/0px
    0 3px 0 stretch;
}
#contents-last {
  border: none;
}

.footer {
  height: 200px;
  background-color: pink;
}
